---
title: How consistent are executive test results over time? Have a look at our new study!
layout: post
category: news
---

Soveri, A., Lehtonen, M., Karlsson, L.C., Lukasik, K., Antfolk, A., & Laine, M. (in press) Test-retest reliability of five frequently used executive tasks in healthy adults. Applied Neuropsychology: Adult.

The link to this article: http://dx.doi.org/10.1080/23279095.2016.1263795

ABSTRACT

Executive tasks are important instruments for neuropsychological and cognitive research, but only
a limited number of studies have investigated the test–retest reliability of these tasks. Such
information is needed for optimizing task usage, for example, in longitudinal and intervention
studies. In this study with healthy adults, we investigated the temporal stability of five executive
tasks: the Simon task, a visuoverbal N-back task, a visuospatial N-back task, a running memory task,
and the Number–letter task. These five tasks are frequently used in research, but previously
published reliability data is very limited or totally lacking. The results from the present study
showed considerable variability with the highest test–retest reliabilities amongst the three working
memory tasks. Furthermore, reaction time measures indicated practice effects between the two
sessions across the tasks. The present results set constraints to the interpretation of the results of
longitudinal and intervention studies using these tasks.
